@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: left;
  font-family: "Roboto", sans-serif;
  /* border: 2px solid cyan; */
}

.nav {
  font-family: "Roboto", sans-serif;
  max-width: 40%;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  background-color: black;
  max-height: 20rem;
  /* border: 2px solid cyan; */
}

nav ul,
nav ul a {
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
}

nav ul li {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
}
nav ul li span {
  margin-right: 0.4em;
}

nav ul li span:not(.focus) {
  opacity: 50%;
}
.navItems:hover {
  color: rgb(255, 255, 255);
  font-weight: 900;
  opacity: 100%;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: 1.3rem;
  color: white;
  margin-bottom: 2rem;
}
.top-nav {
  height: 5rem;
  display: flex;
  width: calc(100%-10rem);
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.top-nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 60%;
}
.search-bar {
  background-color: white;
  color: black;
  padding: 0.5rem 1.1rem;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  border-radius: 2rem;
  width: 75%;
  overflow: hidden;
}
.search-bar .material-symbols-outlined {
  margin-right: 1.1rem;
}
#search-bar-input {
  border: none;
  width: 25rem;
  font-size: 1.1rem;
}
#search-bar-input:focus {
  outline: none;
}

.md-48 {
  font-size: 1.8rem !important;
}
.top-nav-left a {
  color: white;
}
.top-nav-right {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.top-nav-right span {
  padding: 0 0.2rem;
}

.container-search {
  margin-bottom: 20rem;
  min-height: 70vh;
  width: 80vw;
  background: linear-gradient(
    0deg,
    rgba(6, 6, 6, 1) 0%,
    rgba(62, 62, 62, 1) 99%,
    rgba(108, 108, 124, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  max-width: 100%;
  /* border: 5px solid cyan; */
}

.browse {
  /* border: 2px solid cyan; */
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}
.browse-header {
  font-size: 2rem;
  font-weight: bold;
}
.browse-items {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.items {
  height: 10rem;
  width: 10rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.2rem;
  overflow: hidden;
  cursor: pointer;
  /* border: 5px solid brown; */
  transition: 200ms ease-in;
}
.items:hover {
  position: relative;
  bottom: 0.4rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}
i {
  padding: 0 1.5rem;
  cursor: pointer;
}

#disclaimer {
  margin-top: 2rem;
  position: relative;
  opacity: 60%;
}
@media only screen and (max-width: 750px) {
  .container-search {
    width: 100vw;
  }
}
