@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Varela Round", sans-serif;
  display: flex;
  background-color: black;
  width: 100vw;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  /* background-color: black; */
  height: 65px;
  color: white;
  margin-right: 2em;
}

.right-nav {
  position: absolute;
  left: 80%;
}
#login {
  background-color: white;
  color: black;
  padding: 0.7em;
  /* border-radius: 5%; */
  text-align: center;
  font-weight: 900;
  width: 5rem;
}

nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 3rem;
  width: 75vw;
  border-radius: 12px;
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom {
  position: sticky;
  height: 130px;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#myProgressBar {
  width: 50vw;
  margin-top: 1.7rem;
  cursor: pointer;
  accent-color: rgb(250, 212, 0);
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  /* padding: 1.5rem 2.1rem; */
  /* border: 2px solid black; */
  width: 15rem;
  color: rgb(247, 247, 247);
}

a {
  text-decoration: none;
  color: black;
}
i {
  padding: 0 1.5rem;
  cursor: pointer;
}

.container h1 {
  padding: 10px;
}

.songItemContainer {
  margin-top: 1.5rem;
  /* border: 5px solid cyan; */
}

.songItem {
  font-family: "Varela Round", sans-serif;
  height: 40px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  border-radius: 34px;
}
.red {
  background-color: red;
}
.songName {
  padding-left: 0;
}
.songItem img {
  max-height: 35px;
  max-width: 35px;
  margin: 0 5px;
  border-radius: 50%;
}
.timestamp {
  margin: 0 2px;
}
.songlistplay {
  margin: 0 20px;
}
.songInfo {
  font-family: "Varela Round", sans-serif;
  position: absolute;
  left: 8vw;
  /* border: 2px solid white; */
  max-width: 15rem;
  /* overflow: hidden; */
  /* max-height: 19%; */
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
